*~
*.pyc
.DS_Store
/*.log
/*.log-*
/logs
/.Python
/bin
/node
/python
node_modules
node_modules.old
node_modules.hide
#/client/build
/client/.svelte-kit
/client/package
/missions/*.json
.env
.env.*
!.env.example
