[Unit]
Description=Coconut Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/coconut/start.sh

[Install]
WantedBy=multi-user.target